@use "../sass/base/reset" as *;
@use "../sass/base/typography" as *;
@use "../sass/abstracts/mixins" as *;

// Layout
@use "../sass/layouts/containers" as *;
@use "../sass/layouts/site-header" as *;
@use "../sass/layouts/site-footer" as *;
@use "../sass/layouts/breadcrumbs" as *;
@use "../sass/layouts/buttons" as *;
@use "../sass/layouts/helpers" as *;
@use "../sass/layouts/subpage-banner" as *;
@use "../sass/layouts/subject-based-courses" as *;
@use "../sass/layouts/introduction-section" as *;
@use "../sass/layouts/enquiry-section1" as *;
@use "../sass/layouts/form1" as *;

// Components
@use "components/main-navigation" as *;
@use "components/hero-slider-carousel" as *;
@use "components/marquee-carousel" as *;
@use "components/certification-partners-carousel" as *;
@use "components/featured-courses-carousel" as *;
@use "components/trainers-carousel" as *;
@use "components//forms" as *;
@use "components/course-list" as *;
@use "components/new-batches-carousel" as *;
@use "components/photo-gallery" as *;
@use "components/testimonials-carousel" as *;
@use "components/video-custom-player" as *;
@use "components/blogs-list-carousel" as *;
@use "components/benefits-job-faq" as *;
@use "components/modal" as *;
@use "components/move-to-top" as *;

// Category Introduction
.category-introduction {
  &__container {
    @include lg-min {
      display: grid;
      grid-template-columns: 300px 1fr;
      gap: 20px;
    }
  }

  &__logo {
    margin-bottom: 20px;

    @include lg-min {
      background: #f5f5f5;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  &__logo-image {
    @include md-min {
      height: 50px;
      width: auto;
    }
  }

  &__overview {
    @include lg-min {
      background: #f5f5f5;
      border-radius: 15px;
      padding: 60px;
    }
  }

  &__heading {
    margin-bottom: 15px;
    font-size: 18px;
    color: #3e97d3;
  }

  &__description {
    margin-bottom: 0;
  }
}

// Certification Levels

.certification-levels {
  &__container {
  }

  &__heading {
  }

  &__description {
  }

  &__logo-wrapper {
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90px;
    margin-bottom: 15px;

    img {
      width: auto;
      margin-bottom: 0;
    }
  }

  &__item-logo {
    // border: 2px solid red;
    max-width: 250px;
    max-height: 55px;
  }

  &__list {
    display: grid;
    gap: 20px;

    @include sm-min {
      grid-template-columns: repeat(2, 1fr);
    }

    @include md-min {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    background: #f3f3f3;
    padding: 25px;
    border-radius: 15px;
    position: relative;
    transition: all 0.25s linear 0s !important;
    &:hover {
      background-color: #ececec;
      transform: scaleX(1.02) scaleY(1.02);
    }

    @include lg-min {
      padding: 30px;
    }
  }
  &__item-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__item-heading {
    color: #3e97d3;
  }

  &__item-image {
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: cover;
    // max-height: 40px;
    width: 100%;
    // max-width: 220px;
    // height: 120px;
  }

  &__item-description {
    font-size: 13px;
    line-height: 1.2;
  }

  &__item-btn {
  }
}

/* Sub Category List 3 Column: Start */
.sub-category-list-3-column {
  display: grid;
  gap: 20px;

  @include sm-min {
    grid-template-columns: repeat(2, 1fr);
  }

  @include md-min {
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    background: #f3f3f3;
    padding: 25px;
    border-radius: 15px;

    @include lg-min {
      padding: 30px;
    }
  }

  &__item-content {
    max-width: 310px;
  }

  &__item-heading {
    color: #3e97d3;
  }

  &__item-image {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    object-fit: cover;
    max-height: 130px;
  }

  &__item-description {
    font-size: 13px;
    line-height: 1.2;
  }

  &__item-btn {
  }
}

/* Sub Category List 3 Column: End */

/* Sub Category List 2 Column: Start */
.sub-category-list-2-column {
  display: grid;
  gap: 20px;

  @include sm-min {
    grid-template-columns: repeat(2, 1fr);
  }

  &__item {
    background: #f3f3f3;
    padding: 25px;
    border-radius: 15px;
    position: relative;
    transition: all 0.25s linear 0s !important;
    &:hover {
      background-color: #ececec;
      transform: scaleX(1.02) scaleY(1.02);
    }
    @include lg-min {
      padding: 30px;
    }
  }
  &__item-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__item-logo {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  &__item-content {
    // max-width: 310px;
  }

  &__item-heading {
    color: #3e97d3;
  }

  &__item-image {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    object-fit: cover;
    max-height: 170px;
  }

  &__item-description {
    font-size: 13px;
    line-height: 1.2;
  }

  &__item-btn {
  }
}

/* Sub Category List 2 Column: End */

/* Sub category module list: Start */
.sub-category-module-list {
  margin-top: 20px;

  &__wrapper {
    display: grid;
    gap: 15px;

    @include sm-min {
      grid-template-columns: repeat(2, 1fr);
    }

    @include md-min {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }

  &__item {
    background: #f5f5f5;
    padding: 30px;
    border-radius: 10px;
  }

  &__item-heading {
    color: #3e97d3;
    margin-bottom: 10px;
  }

  &__item-description {
    margin-bottom: 0;
  }
}

/* Sub category module list: End */

// All Certifications

.all-certifications {
  &__container {
  }

  &__heading {
  }

  &__wrapper {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 15px;

    @include lg-min {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }

  &__item {
  }

  &__item-heading {
    background: white;
    padding: 5px 5px 5px 10px;
    border-radius: 7px;
    color: #3e97d3;
    margin-bottom: 10px;
  }

  &__item-list {
    margin-bottom: 20px;

    ul {
      margin-left: 20px;

      li {
        line-height: 13px;

        a {
          background-color: transparent !important;

          &::before {
            content: "";
            border-color: transparent #777;
            border-style: solid;
            border-width: 0.35em 0 0.35em 0.45em;
            display: block;
            height: 0;
            width: 0;
            left: -1em;
            top: 10px;
            position: relative;
          }
        }
      }
    }
  }

  &__item-ul {
    margin-left: 20px;
    line-height: 0.75;
  }

  &__item-li {
    break-inside: avoid;
  }

  &__item-li-a {
    position: relative;
    font-size: 13px;
    transition: all 0.25s linear 0s;

    &:hover {
      color: #333;
    }

    &::before {
      content: "";
      border-color: transparent #777;
      border-style: solid;
      border-width: 0.35em 0 0.35em 0.45em;
      display: block;
      height: 0;
      width: 0;
      left: -1em;
      top: 7px;
      position: relative;
    }
  }
}

// Enquiry Form
