@use '../sass/base/reset' as *;
@use '../sass/base/typography' as *;
@use '../sass/abstracts/mixins' as *;

// Layout
@use '../sass/layouts/containers' as *;
@use '../sass/layouts/site-header' as *;
@use '../sass/layouts/site-footer' as *;
@use '../sass/layouts/buttons' as *;
@use '../sass/layouts/helpers' as *;
@use '../sass/layouts/subpage-banner' as *;
@use '../sass/layouts/breadcrumbs' as *;
@use '../sass/layouts/subject-based-courses' as *;
@use '../sass/layouts/certification-brands' as *;
@use '../sass/layouts/enquiry-section1' as *;

// Components
@use 'components/main-navigation' as *;
@use 'components/hero-slider-carousel' as *;
@use 'components/marquee-carousel' as *;
@use 'components/certification-partners-carousel' as *;
@use 'components/featured-courses-carousel' as *;
@use 'components/trainers-carousel' as *;
@use 'components/new-batches-carousel' as *;
@use 'components/photo-gallery' as *;
@use 'components/testimonials-carousel' as *;
@use 'components/video-custom-player' as *;
@use 'components/blogs-list-carousel' as *;
@use 'components/forms' as *;
@use 'components/move-to-top' as *;


/* Vendors */
@use 'vendors/scroll-animator' as *;



.contact-section {
    &__container {
        display: grid;
        gap: 20px;

        @include md-min {
            grid-template-columns: 260px 1fr;
        }

        @include lg-min {
            grid-template-columns: 290px 1fr;
        }
    }

    &__col1 {}

    &__address-call-email {
        background: #f5f5f5;
        padding: 20px;
        border-radius: 7px;
        height: 100%;
    }

    &__address-call-email-item {
        margin-bottom: 20px;
    }

    &__address-call-email-item-heading {
        background: #fff;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px 10px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    &__address-call-email-item-heading-icon {
        height: 15px;
        max-width: 15px;
    }

    &__address-call-email-item-sub-heading {}

    &__address-call-email-item-text {
        margin-bottom: 0;
    }

    &__address-call-email-item-text-link {}

}

.contact-form {
    padding: 20px;
    background: #f5f5f5;

    @include md-min {
        padding: 30px;
    }

    .form__body {
        padding: 0;
        background: none;
    }

    &__mobile-number {
        display: grid;
        grid-template-columns: 40px 1fr;
        gap: 10px;

        @include md-min {
            grid-template-columns: 60px 1fr;

        }
    }

    .btn-wrapper {
        margin-top: 10px;
    }
}