@use '../sass/base/reset' as *;
@use '../sass/base/typography' as *;
@use '../sass/abstracts/mixins' as *;

// Layout
@use '../sass/layouts/containers' as *;
@use '../sass/layouts/site-header' as *;
@use '../sass/layouts/site-footer' as *;
@use '../sass/layouts/breadcrumbs' as *;
@use '../sass/layouts/buttons' as *;
@use '../sass/layouts/helpers' as *;
@use '../sass/layouts/subpage-banner' as *;
@use '../sass/layouts/subject-based-courses' as *;
@use '../sass/layouts/introduction-section' as *;
@use '../sass/layouts/course-list-rev1' as *;
@use '../sass/layouts/enquiry-section1' as *;

// Components
@use 'components/main-navigation' as *;
@use 'components/accordions' as *;
@use 'components/hero-slider-carousel' as *;
@use 'components/marquee-carousel' as *;
@use 'components/certification-partners-carousel' as *;
@use 'components/course-list' as *;
@use 'components/featured-courses-carousel' as *;
@use 'components/modal' as *;
@use 'components/forms' as *;
@use 'components/course-list-carousel' as *;
@use 'components/trainers-carousel' as *;
@use 'components/new-batches-carousel' as *;
@use 'components/photo-gallery' as *;
@use 'components/testimonials-carousel' as *;
@use 'components/video-custom-player' as *;
@use 'components/blogs-list-carousel' as *;
@use 'components/benefits-job-faq' as *;
@use 'components/move-to-top' as *;


// What you'll learn

.content-section {}

.what-you-learn {
    // border: 3px solid red;

    &__container {}

    &__heading {}

    &__list {
        display: grid;
        gap: 10px;

        @include sm-min {
            grid-template-columns: repeat(2, 1fr);
        }

        @include md-min {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__list-item {
        background-color: #ECEEF5;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        gap: 10px;
        align-items: flex-start;
    }

    &__list-item-icon {
        background: #8BBCDD;
        border: none;
        width: 10px;
        height: 10px;
        padding: 10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.313rem;
        position: relative;
        border-radius: 100%;

        &::after {
            content: "";
            border-color: white;
            height: 3px;
            background-color: transparent;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 2px;
            top: 1px;
            position: absolute;
            bottom: 0.25rem;
            margin: auto;
            transform: rotate(40deg);
        }
    }

    &__list-item-text {
        margin-bottom: 0;
        margin-top: 2px;

        @include sm-min {
            font-size: 14px;
        }
    }
}

// Course Syllaus

.course-syllabus {
    &__container {}

    &__heading {}
}


.course-syllabus-accordion {
    padding: 0;
    background: none;

    &__container {}

    &__items {
        margin-bottom: 5px;
    }

    &__trigger {
        font-size: 14px;
        font-weight: 500;
        color: #3096D5;
        background: #F3F3F3;

        &:hover {
            background: #F3F3F3;
        }

        &.active {
            background: #F3F3F3;
        }

        @include md-min {
            font-size: 15px;
            font-weight: 600;
        }
    }

    &__content {}

    &__content-body {
        padding: 20px 20px 20px 35px;
        font-size: 13px;

        h3,
        ul {
            font-size: 13px;
            margin-bottom: 10px;
        }

        li {
            position: relative;
            padding-left: 15px;
            font-weight: 400;

            &::before {
                content: "";
                width: 0px;
                height: 0px;
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
                border-left: 4px solid #333;
                position: absolute;
                margin-left: 0;
                left: 0;
                top: 3px;
            }
        }
    }
}

// Pre Requisites

.pre-requisites {
    &>ul {
        li {
            position: relative;
            padding-left: 15px;

            &::before {
                content: "";
                width: 0px;
                height: 0px;
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
                border-left: 4px solid #333;
                position: absolute;
                margin-left: 0;
                left: 0;
                top: 3px;
            }
        }
    }
}

/* Location Based Course: Start */
.location-based-course-list {
    &__wrapper {
        background: #f5f5f5;
        padding: 40px;
        border-radius: 10px;
    }

    .location-courses {
        ul {
            @include sm-min {
                column-count: 2;
            }

            @include lg-min {
                column-count: 3;
            }

            li {
                a {
                    &:hover {
                        color: #333;
                    }
                }
            }
        }
    }
}


/* Location Based Course: End */


/* Exam List Start */
.exam-list {
    &__container {}

    &__heading {}

    &__wrapper {
        display: grid;
        gap: 20px;

        @include sm-min {
            grid-template-columns: repeat(2, 1fr);
        }

        @include md-min {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__item {
        background: #f1f1f1;
        border-radius: 10px;
        padding: 20px;
        position: relative;

        @include md-min {
            padding: 30px;
        }
    }

    &__item-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: flex-start;
    }

    &__item-code {
        font-weight: 600;
        font-size: 14px;
        color: #3096D5;
        margin-bottom: 10px;
    }

    &__item-heading {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 600;
        color: #777;

        @include sm-min {
            font-size: 16px;
            line-height: 1.35;
        }
    }

    &__item-description {
        flex-grow: 1;
    }

    &__item-btn-group {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__item-btn {}
}

/* Exam List End */