@use '../sass/base/reset' as *;
@use '../sass/base/typography' as *;
@use '../sass/abstracts/mixins' as *;

// Layout
@use '../sass/layouts/containers' as *;
@use '../sass/layouts/site-header' as *;
@use '../sass/layouts/site-footer' as *;
@use '../sass/layouts/buttons' as *;
@use '../sass/layouts/helpers' as *;
@use '../sass/layouts/subpage-banner' as *;
@use '../sass/layouts/breadcrumbs' as *;
@use '../sass/layouts/subject-based-courses' as *;
@use '../sass/layouts/enquiry-section1' as *;

// Components
@use 'components/main-navigation' as *;
@use 'components/hero-slider-carousel' as *;
@use 'components/marquee-carousel' as *;
@use 'components/certification-partners-carousel' as *;
@use 'components/featured-courses-carousel' as *;
@use 'components/trainers-carousel' as *;
@use 'components/new-batches-carousel' as *;
@use 'components/photo-gallery' as *;
@use 'components/testimonials-carousel' as *;
@use 'components/video-custom-player' as *;
@use 'components/blogs-list-carousel' as *;
@use 'components/move-to-top' as *;

/* Vendors */
@use 'vendors/scroll-animator' as *;


.gallery {
    &__container {
        display: grid;
        gap: 20px;

        @include md-min {
            // grid-template-columns: repeat(2, 1fr);
        }
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        height: 100%;

        @include sm-min {
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }

        @include md-min {
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }

        @include lg-min {
            grid-template-columns: repeat(6, 1fr);
            gap: 20px;
        }

    }

    &__col1 {
        padding: 20px;
        background-color: #f5f5f5;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        @include sm-min {
            padding: 40px;
        }

        @include lg-min {
            padding: 40px 50px;
        }

        .btn-wrapper {
            margin-bottom: 0;
        }
    }

    &__col2 {}

    &__heading {
        margin-bottom: 0.625rem;
    }

    &__subheading {}

    &__content {
        padding: 1.25rem;
        border-radius: 0.625rem;
        @include light-bg-with-border;

        @include xl-min {
            padding: 3.125rem;
        }
    }

    &__thumb {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    &__large-img {
        border-radius: 0.625rem;
    }
}