// Abstracts
@use "../sass/base/reset" as *;
@use "../sass/base/typography" as *;
@use "../sass/abstracts/variables" as *;
@use "../sass/abstracts/mixins" as *;

// Layout
@use "../sass/layouts/containers" as *;
@use "../sass/layouts/site-header" as *;
@use "../sass/layouts/site-footer" as *;
@use "../sass/layouts/buttons" as *;
@use "../sass/layouts/helpers" as *;
@use "../sass/layouts/subject-based-courses" as *;
@use "../sass/layouts/form1" as *;

// Components
@use "components/main-navigation" as *;
@use "components/hero-slider-carousel" as *;
@use "components/marquee-carousel" as *;
@use "components/certification-partners-carousel" as *;
@use "components/featured-courses-carousel" as *;
@use "components/featured-courses" as *;
@use "components/featured-courses-rev1" as *;
@use "components/trainers-carousel" as *;
@use "components/forms" as *;
@use "components/modal" as *;
@use "components/new-batches-carousel" as *;
@use "components/photo-gallery" as *;
@use "components/testimonials-carousel" as *;
@use "components/video-custom-player" as *;
@use "components/blogs-list-carousel" as *;
// @use 'components/move-to-top' as *;

/* Vebdors */

@use "vendors/scroll-animator" as *;
// @use 'vendors/aos' as *;

body {
  background-color: white;
  // border: 5px solid red;
}

// Associates

.content-section.associates {
  padding-top: 0;
  padding-bottom: 0;
}

// Introductions

.introduction {
  &__col1 {
    position: relative;
    display: grid;
    gap: 20px;
    height: 170px;
    background-image: url("../images/monogram-texture-bg-xs.webp");
    background-repeat: repeat;
    border-radius: 15px;

    @include md-min {
      height: 250px;
    }

    @include lg-min {
      height: 280px;
      gap: 40px;
      background-image: url("../images/monogram-texture-bg-lg.webp");
    }
  }

  &__col2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__container {
    display: grid;
    gap: 20px;

    @include sm-min {
      grid-template-columns: 40% 1fr;
    }

    @include md-min {
      gap: 35px;
      grid-template-columns: 50% 1fr;
    }

    @include lg-min {
      gap: 65px;
      grid-template-columns: 43% 1fr;
    }
  }

  &__heading {
  }

  &__image {
    height: inherit;
    object-fit: cover;
    border-radius: 15px;
    width: 100%;
    position: relative;

    &::after {
      content: "";
      background: #000;
      opacity: 0.5;
    }
  }

  &__monogram {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__monogram-image {
    width: 120px;

    @include lg-min {
      width: 140px;
    }
  }

  &__paragraph {
  }
}

// Monogram Animation: Start

.monogram-icon {
  width: 120px;
  height: 120px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInUp 1s ease-out;
  z-index: 0;

  @include md-min {
    width: 140px;
    height: 140px;
  }

  @include lg-min {
    width: 170px;
    height: 170px;
  }

  img {
    position: absolute;
  }

  &__a1 {
    left: 0;
    top: 0;
    animation: a1 10s ease forwards infinite;
    opacity: 0;
    width: 47%;
  }

  @keyframes a1 {
    0% {
      opacity: 0;
    }

    10% {
      opacity: 0;
    }

    15% {
      opacity: 0;
    }

    25% {
      opacity: 1;
    }

    30% {
      opacity: 1;
    }

    95% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  &__a2 {
    width: 100%;
    left: 1px;
    top: 1px;
    z-index: 2;
    animation: a2 10s ease forwards infinite;
  }

  @keyframes a2 {
    0% {
      transform: rotate(0);
      opacity: 0;
    }

    5% {
      opacity: 1;
    }

    10% {
      opacity: 1;
    }

    15% {
      transform: rotate(360deg);
      opacity: 1;
    }

    30% {
      opacity: 1;
      transform: rotate(360deg);
    }

    95% {
      transform: rotate(360deg);
      opacity: 1;
    }

    100% {
      transform: rotate(360deg);
      opacity: 1;
    }
  }

  &__a3 {
    width: 80%;
    left: 11%;
    top: 11%;
    z-index: 2;
    animation: a3 10s ease forwards infinite;
  }

  @keyframes a3 {
    0% {
      transform: rotate(0);
      opacity: 1;
    }

    10% {
      transform: rotate(0);
      opacity: 1;
    }

    20% {
      transform: rotate(0);
    }

    25% {
      opacity: 1;
    }

    40% {
      opacity: 1;
      transform: rotate(360deg);
    }

    60% {
      opacity: 1;
      transform: rotate(360deg);
    }

    70% {
      transform: rotate(360deg);
      opacity: 1;
    }

    95% {
      opacity: 1;
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(360deg);
      opacity: 1;
    }
  }

  &__a4 {
    width: 35%;
    z-index: 3;
    animation: a4 10s ease forwards infinite;
    transform: scale(1);
  }

  @keyframes a4 {
    0% {
      transform: scale(1);
    }

    10% {
      transform: scale(1);
    }

    20% {
      transform: scale(0.8);
    }

    30% {
      transform: scale(1);
    }

    40% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.8);
    }

    60% {
      transform: scale(1);
    }

    70% {
      transform: scale(1);
    }

    80% {
      transform: scale(0.8);
    }

    90% {
      transform: scale(1);
    }

    100% {
      transform: scale(1);
    }
  }
}

// Monogram Animation: End

// Trainings

.trainings {
  &__col1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-row-start: 2;

    @include sm-min {
      grid-row-start: 1;
    }
  }

  &__col2 {
  }

  &__container {
    display: grid;
    gap: 20px;

    @include md-min {
      gap: 60px;
    }
  }

  &__heading {
  }

  &__image {
    border-radius: 20px;
    width: 100%;

    @include sm-min {
      object-fit: cover;
      display: flex;
      height: 100%;
    }
  }

  &__link {
  }

  &__paragraph {
  }

  &__section {
    display: grid;
    gap: 20px;

    @include sm-min {
      grid-template-columns: 45% 1fr;
      gap: 40px;

      &:last-child {
        grid-template-columns: 1fr 45%;

        .trainings__col1 {
          grid-column-start: 2;
        }
      }
    }

    @include lg-min {
      grid-template-columns: 1fr 500px;
      gap: 70px;

      &:last-child {
        grid-template-columns: 500px 1fr;
      }
    }
  }
}

// Featured Courses

// Service Brief

.service-brief {
  &__bullets {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;

    @include lg-min {
      padding: 40px;
    }
  }

  &__bullets-li {
    font-size: 14px;
    position: relative;
    display: flex;
    gap: 15px;
    line-height: 2;

    &::before {
      top: 7px;
      position: relative;
      border: 2px solid #555;
      border-right: 0;
      border-top: 0;
      content: "";
      display: block;
      height: 0.4rem;
      transform: rotate(-45deg);
      width: 0.8rem;
    }
  }

  &__bullets-ul {
    @include sm-min {
      column-count: 2;
    }

    @include lg-min {
      column-count: 3;
    }
  }

  &__container {
  }

  &__heading {
    margin-bottom: 10px;

    @include lg-min {
      width: 580px;
      line-height: 1.2;
    }
  }

  &__paragraph {
  }

  &__wrapper {
    background: #f1f1f1;
    padding: 20px;
    border-radius: 15px;

    @include md-min {
      padding: 30px;
    }

    @include lg-min {
      padding: 70px;
    }
  }
}

// Subject based Courses

// Certifications Categories

.certification-categories {
  &__banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    clip-path: rect(0 100% 100% 0 round 20px);
    height: 230px;
    padding: 30px;

    &::after {
      content: "";
      background-color: #000;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.5;
    }

    @include md-min {
      padding: 50px;
      justify-content: flex-start;
    }

    @include lg-min {
      padding-left: 70px;
    }
  }

  &__banner-heading {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;

    @include md-min {
      font-size: 26px;
    }

    @include lg-min {
      font-size: 40px;
    }
  }

  &__banner-description {
    color: #fff;
    margin-bottom: 0;
  }

  &__banner-content {
    position: relative;
    z-index: 1;

    @include lg-min {
      width: 750px;
    }
  }

  &__banner-image {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    left: 0;

    @include lg-min {
    }
  }

  &__container {
  }

  &__item {
    border-radius: 15px;
    background-color: #f5f5f5;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    transition: all 0.25s linear 0s;

    &:last-child {
      display: none;

      @include sm-min {
        display: block;
      }
    }

    &:hover {
      background-color: #ededed;
      transform: scaleX(1.03) scaleY(1.03);

      // img {
      //     filter: brightness(0) invert(1);
      // }

      // h2,
      // p {
      //     color: white;
      // }

      // span {
      //     background-color: #fff;
      // }
    }
  }

  &__item-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // transition: all 0.35s linear 0s;
  }

  &__item-btn {
    margin-top: auto;
  }

  &__item-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }

  &__item-heading {
    font-size: 16px;
    //min-height: 40px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  &__item-logo {
    max-height: 35px;
    width: auto;
    max-width: 100px;
  }

  &__item-logo-wrapper {
    min-width: 130px;
    height: 80px;
    display: flex;
    align-items: center;
    // border: 1px solid red;
    padding-left: 20px;
  }

  &__list {
    display: grid;
    gap: 15px;

    @include sm-min {
      grid-template-columns: repeat(2, 1fr);
    }

    @include md-min {
      grid-template-columns: repeat(3, 1fr);
    }

    @include lg-min {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }
  }
}

// New Batches

// Testimonials

.splide {
  &__list {
  }

  &__slide {
  }

  &__track {
  }
}

.testimonials {
  &__container {
  }

  &__heading {
  }
}

// Blogs List

.blogs-list {
  &__container {
  }

  &__content {
    background-color: #f1f1f1;
    padding: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    @include lg-min {
      padding: 30px;
    }
  }

  &__heading {
    text-align: center;

    @include lg-min {
      margin-bottom: 40px;
    }
  }

  &__item {
    display: grid;
    grid-template-rows: 170px auto;
    height: 100%;
  }

  &__item-heading {
  }

  &__item-description {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  &__item-image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    width: 100%;

    @include sm-min {
      height: 100%;
    }
  }

  &__wrapper {
    display: grid;
    gap: 15px;

    @include sm-min {
      grid-template-columns: repeat(2, 1fr);
    }

    @include md-min {
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
    }
  }
}

/* Landing Popup: Start */
.landing-popup {
  &__content {
    background: #fff;
    border-radius: 10px;
  }
}

/* Landing Popup: End */
