@use '../sass/base/reset' as *;
@use '../sass/base/typography' as *;
@use '../sass/abstracts/mixins' as *;

// Layout
@use '../sass/layouts/containers' as *;
@use '../sass/layouts/site-header' as *;
@use '../sass/layouts/site-footer' as *;
@use '../sass/layouts/breadcrumbs' as *;
@use '../sass/layouts/buttons' as *;
@use '../sass/layouts/helpers' as *;
@use '../sass/layouts/subpage-banner' as *;
@use '../sass/layouts/subject-based-courses' as *;
@use '../sass/layouts/introduction-section' as *;

@use '../sass/layouts/enquiry-section1' as *;
@use '../sass/layouts/form1' as *;

// Components
@use 'components/main-navigation' as *;
@use 'components/hero-slider-carousel' as *;
@use 'components/marquee-carousel' as *;
@use 'components/modal' as *;
@use 'components/forms' as *;
@use 'components/certification-partners-carousel' as *;
@use 'components/featured-courses-carousel' as *;
@use 'components/trainers-carousel' as *;
@use 'components/course-list' as *;
@use 'components/new-batches-carousel' as *;
@use 'components/photo-gallery' as *;
@use 'components/testimonials-carousel' as *;
@use 'components/video-custom-player' as *;
@use 'components/blogs-list-carousel' as *;
@use 'components/benefits-job-faq' as *;
@use 'components/move-to-top' as *;








// Enquiry Form

.enquiry-form1 {
    &__container {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    &__wrapper {
        position: relative;
        width: 100%;

        @include lg-min {
            height: 310px;
            display: flex;
            align-items: flex-end;
        }
    }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        object-fit: cover;
        width: 100%;
        border-radius: 15px;
    }

    &__body {
        width: 100%;
        display: flex;
        position: relative;
        align-items: flex-end;
        padding: 25px;
        justify-content: center;

        @include sm-min {
            padding-left: 70px;
            padding-right: 70px;
            display: flex;
            align-items: center;
        }

        @include lg-min {
            padding: 0;
            gap: 40px;
        }
    }

    &__image-section {
        display: none;

        @include lg-min {
            display: block;
        }
    }

    &__image {
        display: flex;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include sm-min {
            flex-direction: row;
        }

        @include lg-min {
            width: 520px;
        }
    }

    &__content-col1 {
        text-align: center;

        @include sm-min {
            text-align: right;
            flex-basis: 65%;
        }
    }

    &__heading {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 10px;
        color: #555;

        @include sm-min {
            text-align: left;
        }

        @include md-min {
            font-size: 32px;
        }
    }

    &__description {
        margin-bottom: 10px;
        color: #555;

        @include sm-min {
            text-align: left;
            margin-bottom: 0;
        }

        @include md-min {
            font-size: 14px;
        }
    }

    &__btn {
        @include md-min {
            height: 35px;
        }
    }

    &__content-col2 {
        text-align: center;

        @include sm-min {
            flex-basis: 35%;
        }
    }

    &__qr-code {
        padding: 5px;
        background: white;
        border-radius: 10px;

        @include lg-min {
            width: 155px;
            height: auto;
        }
    }
}



// benefits-job-faq

.benefits-job-faq-tabs__data {
    overflow: hidden;
    transition: max-height 0.3s ease;
    position: relative;
}

/* Desktop (992px and above) */
@media (min-width: 992px) {
    .benefits-job-faq-tabs__data.collapsed {
        max-height: 75px;
    }

    .benefits-job-faq-tabs__data::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 60px;
        width: 100%;
        // background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
        display: block;
        pointer-events: none;
    }
}

/* Mobile (below 992px) */
@media (max-width: 991px) {
    .benefits-job-faq-tabs__data.collapsed {
        max-height: 0;
    }
}

.toggle-button {
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    background: #0073e6;
    color: #fff;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
}

.toggle-button {
    position: relative;
    background: #cdcdcd;
    color: #333;
    border: none;
    cursor: pointer;
    height: 40px;
    font-family: inherit;
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 35px;
    font-weight: 600;
}

/* '+' symbol before Read More */
.toggle-button::after {
    content: "+";
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 300;
    font-size: 20px;
    font-family: inherit;
}

/* '-' symbol before Read Less */
.toggle-button.active::after {
    content: '−';
    /* Unicode minus */
}


/* Exam List: Start */

.exam-list {
    &__container {}

    &__heading {}

    &__wrapper {
        display: grid;
        gap: 20px;

        @include sm-min {
            grid-template-columns: repeat(2, 1fr);
        }

        @include md-min {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__item {
        background: #f1f1f1;
        border-radius: 10px;
        padding: 20px;
        position: relative;

        @include md-min {
            padding: 30px;
        }
    }

    &__item-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: flex-start;
    }

    &__item-code {
        font-weight: 600;
        font-size: 14px;
        color: #3096D5;
        margin-bottom: 10px;
    }

    &__item-heading {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 600;
        color: #777;

        @include sm-min {
            font-size: 16px;
            line-height: 1.35;
        }
    }

    &__item-description {
        flex-grow: 1;
    }

    &__item-btn {}
}

/* Exam List: End */