@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;

:root {
    // font-size: 10px;
    /* Set the base font size to 10px */
}

*,
*:hover,
*:focus {
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;

    line-height: 1.40;

    @include xl-min {
        font-size: 13px;
    }
}

body,
ul,
p {
    padding: 0;
    margin: 0;
    list-style: none;
    color: #444;
}

a {
    text-decoration: none;
    color: #666;
    // font-size: 0.563rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    image-rendering: optimizespeed;
}

ul {
    padding-left: 0;
    list-style: none;

    li {
        font-size: 13px;
        color: #777;
        // line-height: 1.5;
    }
}

b {
    font-weight: 600;
}