@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;
@use '../vendors/splide' as *;

.certification-partners {
    &__carousel {
        position: relative;
        background-color: #fff;
    }

    &__content {
        position: relative;
        height: 430px;
        overflow: hidden; // Ensure the image stays clipped within the rounded corners
        display: flex;
        justify-content: center;
        align-items: center;

        @include md-min {
            height: 470px;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #000;
            left: 0;
            top: 0;
            opacity: .5;
        }

    }

    &__image-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden; // Ensures the image inside this container stays clipped
        position: relative;

        .hero-slider__image {
            width: 100%;
            height: 100%;
            object-fit: cover; // Ensure the image covers the area

        }
    }

    &__description {
        position: absolute;
        z-index: 1;
        bottom: 0;
        text-align: left;
        padding: 20px;
        left: 0;

        @include xl-min {
            width: 700px;
            padding: 50px;
            padding-bottom: 30px;
        }
    }

    &__description-heading {
        color: #fff;
        font-size: clamp(36px, 4vw, 56px);
        font-weight: 500;
        margin-bottom: 10px;

        @include lg-min {
            width: 80%;
        }

    }

    &__description-paragraph {
        color: #fff;
        font-size: 13px;
        letter-spacing: 1px;

        @include lg-min {
            font-size: 15px;
        }
    }

    // Pagination
    .splide__pagination {
        position: absolute;
        bottom: 20px;
        left: 30px;

        @include lg-min {
            right: 60px;
            left: auto;
            bottom: 50px;
        }

        li {
            button {
                width: 15px;
                height: 15px;
                background-color: #fff;

                &.is-active {
                    background-color: #8bbcdd;
                }
            }
        }
    }
}