@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;
@use "../vendors/splide" as *;

.featured-courses-carousel {
  background-color: transparent;
  // border: 3px solid red;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .splide__track {
    // border: 2px solid red;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .splide__arrows {
    justify-content: center;
    // border: 2px solid red;
    bottom: 0;
    top: 100%;
    gap: 15px;
    // border: 2px solid green;
    position: relative;
    transform: none;
    order: 2;

    @include md-min {
      margin-top: 15px;
    }

    .splide__track {
      border: 2px solid orange;
    }

    .splide__arrow {
      width: 30px;
      height: 30px;
      background-color: #999;
      border-radius: 15px;

      &:first-child {
        &::after {
          // border-left: 0;
          border-top: 0;
          border-right: 0;
          left: 6px;
          position: relative;
        }
      }

      &:last-child {
        &::after {
          // border-left: 0;
          border-bottom: 0;
          border-left: 0;
          left: 2px;
          position: relative;
        }
      }

      &::after {
        content: "";
        border: 2px solid white;
        width: 8px;
        height: 8px;
        display: flex;
        transform: rotate(45deg);
      }

      svg {
        display: none;
      }
    }
  }
}
