@use "../../sass/abstracts/variables" as *;
@use "../../sass/abstracts/mixins" as *;

.featured-courses {
  &__btn {
  }

  &__container {
  }

  &__description {
    font-size: 13px;
    line-height: 1.3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: unset;
  }

  &__title {
    @include md-min {
      margin-bottom: 40px;
    }
  }

  &__details {
    font-size: 14px;
    margin-bottom: 15px;
  }

  &__details-label {
    font-weight: 600;
  }

  &__details-row {
  }

  &__details-value {
    font-size: 13px;
  }

  &__heading {
    font-size: 15px;
    line-height: 1.35;
    min-height: 43px;
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    color: #3096d5;
  }

  &__item {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 15px;
    text-align: left;
    position: relative;
    transition: background-color 0.25s linear 0s !important;
    &:hover {
      background-color: #ebebeb;
    }
    @include sm-min {
      padding: 25px;
    }

    @include lg-min {
      min-height: 500px;
    }
  }
  &__item-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__logo {
  }

  &__logo-wrapper {
    background-color: #fff;
    height: 90px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__image-wrapper {
    margin-bottom: 15px;
  }

  &__btn-group {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  &__list {
  }
}
