@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;
@use '../vendors/splide' as *;

.hero-slider {
    &__carousel {
        position: relative;
        clip-path: rect(0 100% 100% 0 round 20px);
        display: flex;
        flex-direction: column;

        @include lg-min {
            clip-path: rect(0 100% 100% 0 round 30px);
        }

        .left-top-corner {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            display: flex;
        }

        .left-bottom-corner {
            position: absolute;
            left: -1px;
            bottom: -1px;
            z-index: 1;
            display: flex;
        }

        .right-top-corner {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            display: flex;
        }

        .right-bottom-corner {
            position: absolute;
            right: -1px;
            bottom: -1px;
            z-index: 1;
            display: flex;
        }
    }

    &__content {
        position: relative;
        height: 400px;
        overflow: hidden; // Ensure the image stays clipped within the rounded corners
        display: flex;
        justify-content: center;
        align-items: center;

        @include lg-min {
            height: 470px;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #000;
            left: 0;
            top: 0;
            opacity: .5;
        }


    }

    &__image-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden; // Ensures the image inside this container stays clipped
        position: relative;



        .hero-slider__image {
            width: 100%;
            height: 100%;
            object-fit: cover; // Ensure the image covers the area
            object-position: top;


        }
    }

    &__description {
        position: absolute;
        z-index: 1;
        bottom: 30px;
        text-align: left;
        padding: 25px;
        left: 0;

        @include md-min {
            width: 450px;
            padding: 30px;
            padding-bottom: 30px;
            bottom: 30px;
        }

        @include lg-min {
            width: 670px;
            padding-bottom: 0;
            padding: 40px;
            padding-bottom: 10px;
        }
    }

    &__description-heading {
        color: #fff;
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 10px;
        line-height: 30px;

        @include md-min {
            font-size: 35px;
            line-height: 40px;
        }

        @include lg-min {
            margin-bottom: 5px;
            font-size: 45px;
            line-height: 45px;
        }

    }

    &__description-paragraph {
        color: #fff;
        font-size: 13px;
        margin-bottom: 0;
        font-weight: 300;
    }

    // Pagination
    .splide__pagination {
        position: absolute;
        margin-top: 0;
        background-color: transparent !important;
        bottom: 30px;
        left: 30px;

        @include lg-min {
            right: 40px;
            left: initial;
        }

        li {
            button {
                width: 10px;
                height: 10px;
                background-color: #CECECE;

                &.is-active {
                    background-color: #ACD6F3;
                }
            }
        }
    }
}