@use '../abstracts/mixins' as *;

.marquee-carousel {
    position: relative;
    overflow: hidden;
    width: 100%;

    &__track {
        display: flex;
        flex-wrap: nowrap;
        transition: none;
        will-change: transform;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

    &__item {
        padding: 10px 30px;
        background: white;
        border-radius: 6px;
        font-size: 1rem;
        font-weight: 500;
        flex-shrink: 0;
        white-space: nowrap;
        display: flex;
        align-items: center;
        height: 50px;
        width: auto;

        @include lg-min {
            margin-left: 20px;
            margin-right: 20px;
            height: 60px;
            padding: 10px 35px;
        }
    }

    &__item-logo {
        height: 25px;
        width: auto;
        max-width: 85px;

        @include lg-min {
            height: 35px;
            max-width: 110px;
        }
    }

    .active-outline {
        position: absolute;
        border: 4px solid #bfd8e9;
        border-radius: 13px;
        pointer-events: none;
        transition: transform 1s ease, width 1s ease, height 1s ease;
        z-index: 1;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}