@use '../abstracts/mixins' as *;

/* Modal: CSS Start */

/* Object 1: Default Configuration */
.modal-container {
  border-bottom: none;

  .modal-trigger {
    cursor: pointer;
  }

  .modal-content {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    margin: auto;
    z-index: 100;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.65);
      z-index: -1;
    }

    @include md-min {
      width: 39rem;
    }
  }

  .close-icon {
    cursor: pointer;
  }

  .modal-wrapper {
    width: 95%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include sm-min {
      width: 400px;
    }

    .close-icon {
      // background: white;
      width: 2.25rem;
      height: 2.25rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      // border: 1px solid #e0e0e0;

      &::after {
        content: "";
        opacity: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: all 0.15s ease 0s;
        border: 1px solid #000;
        transform: rotate(-45deg);
        height: 0.938rem;
      }

      &:before {
        content: "";
        transform: rotate(45deg);
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        border: 1px solid #000;
        height: 0.938rem;
      }
    }
  }

  .modal-data {
    min-width: 290px;

    @include md-min {
      width: 24.375rem;
    }

  }

}

/* Modal: CSS End */