@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;
@use '../vendors/splide' as *;


.new-batches {
    &__container {
        @include xl-min {
            display: grid;
            grid-template-columns: 420px 1fr;
            gap: 20px;
        }
    }

    &__col1 {
        display: none;

        @include xl-min {
            display: flex;
        }
    }

    &__image {
        display: none;

        @include md-min {
            border-radius: 15px;
            object-fit: cover;
            width: 100%;
            height: 100%;
            display: block;
        }

    }

    &__col2 {
        background-color: #ECEEF5;
        border-radius: 20px;
        padding: 25px;

        @include lg-min {
            padding: 50px 40px 40px 40px;
        }
    }

    &__course {
        font-weight: 700;
    }

    &__heading {
        text-align: center;
        font-weight: 500;
        color: #3096D5;
        margin-bottom: 20px;
        font-size: 18px;

        @include md-min {
            font-size: 21px;
        }
    }

}

// Carousel Start
.new-batches-carousel {
    background: transparent;
    display: flex;
    flex-direction: column;

    .splide__slide {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        opacity: 0.35;

        &.is-active {
            opacity: 1;
            z-index: 10;
        }
    }

    &__item {
        background: #fff;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: box-shadow 0.3s ease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding-left: 13px;
        padding-right: 13px;

        @include md-min {
            padding-left: 60px;
            padding-right: 60px;
        }

        @include lg-min {
            // padding-left: 90px;
            // padding-right: 90px;
        }

        .splide__slide.is-active & {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); // active emphasis
        }
    }

    &__item-content {
        transition: height 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        overflow: hidden;
        width: 100%;

        @include lg-min {
            max-width: 500px;
        }

        .splide__slide.is-active & {
            // height: 110px; // Taller inner content for active slide
        }
    }

    &__course {
        font-weight: bold;
        font-size: 16px;
        text-align: left;
        min-width: 110px;
        line-height: 1;
        font-weight: 700;
        // border: 2px solid green;

        @include md-min {
            font-size: 20px;
        }

        @include lg-min {
            // font-size: 20px;
            font-weight: 600;
        }
    }

    &__date-month-year {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__date {
        color: #555;
        width: 30px;
        height: 30px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 29px;
        font-weight: 600;

        @include md-min {
            font-size: 56px;
            width: auto;
            height: 50px;
            border-radius: 30px;
            font-weight: 600;
        }
    }

    &__month-and-year {
        font-weight: 600;
        display: flex;
        align-items: flex-start;
        gap: 0;
        flex-direction: column;
        line-height: 1.2;
        font-size: 12px;
        position: relative;
        bottom: 2px;

        @include md-min {
            font-size: 20px;
            line-height: 1;
        }
    }

    .splide__pagination {
        position: relative;

        li {
            button {
                width: 12px;
                height: 12px;
                background-color: #d3d3d3;

                &.is-active {
                    background-color: #8db7d5;
                }
            }
        }
    }
}