@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../vendors/glightbox.css" as *;

.photo-gallery {
  &__container {
    display: grid;
    gap: 20px;

    @include md-min {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    height: 100%;

    @include sm-min {
      grid-template-columns: repeat(3, 1fr);
    }

    .hide-on-odd {
      display: none;

      @include md-min {
        display: block;
      }
    }
  }

  &__col1 {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    @include sm-min {
      padding: 40px;
    }

    @include lg-min {
      padding: 40px 50px;
    }

    .btn-wrapper {
      margin-bottom: 0;
    }
  }

  &__col2 {
  }

  &__heading {
    margin-bottom: 0.625rem;
  }

  &__subheading {
  }

  &__content {
    padding: 1.25rem;
    border-radius: 0.625rem;
    @include light-bg-with-border;

    @include xl-min {
      padding: 3.125rem;
    }
  }

  &__thumb {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all 0.25s linear 0s !important;
    &:hover {
      transform: scaleX(1.04) scaleY(1.04);
    }
  }

  &__large-img {
    border-radius: 0.625rem;
  }
}

// Native Style Overriden
.glightbox-clean {
  .gslide-media {
    box-shadow: none;
  }
}

.gslide-media.gslide-image {
  // padding-top: 0.625rem;
  // padding-bottom: 0.625rem;

  @include xl-min {
    max-height: 80vh;
  }
}

.gslide-image img {
  border-radius: 10px;
  max-width: 90%;

  @include xl-min {
    // max-height: 80vh;
    max-width: 90%;
  }
}
