@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.site-preloader1 {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    z-index: 3;

    &:after {
        content: '';
        border-radius: 50%;
        border-top: 0.313rem solid $brand-color2;
        border-right: 0.313rem solid $brand-color2;
        border-bottom: 0.313rem solid $brand-color1;
        border-left: 0.313rem solid $brand-color1;
        width: 2.188rem;
        height: 2.188rem;
        @include animation(site-preloader1, .85s, linear, 0s, infinite, normal, forwards, running);
        display: block;
    }
}

@include keyframes(site-preloader1) {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}