@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;
@use '../vendors/splide' as *;


.testimonials-carousel {
    background-color: transparent;
    // border: 3px solid red;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include md-min {
        gap: 30px;
    }

    &__content {
        background-color: #efefef;
        padding: 30px;
        border-radius: 15px;
        text-align: left;
        height: 100%;

        @include md-min {
            padding: 40px 40px 50px 40px;
        }
    }

    &__image {
        border: 3px solid #fff;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        margin-right: auto;

        @include md-min {
            margin-right: 0;
        }
    }

    &__description {
        margin-bottom: 0;
        color: #555;
        font-size: 13px;
    }

    &__header {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        @include md-min {
            flex-direction: row;
            align-items: center;
        }
    }

    &__name {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.20;

        @include lg-min {
            font-size: 15px;
        }
    }

    &__name-and-role {}

    &__role {
        margin-bottom: 0;
        color: #555;
        font-size: 12px;
    }

    &__company {
        margin-bottom: 0;
        color: #555;
        font-size: 11px;
    }


    .splide__arrows {
        justify-content: center;
        // border: 2px solid red;
        bottom: 0;
        top: 100%;
        gap: 15px;
        // border: 2px solid green;
        position: relative;
        transform: none;
        order: 2;

        .splide__track {
            border: 2px solid orange;
        }

        .splide__arrow {
            width: 30px;
            height: 30px;
            background-color: #999;
            border-radius: 15px;

            &:first-child {
                &::after {
                    // border-left: 0;
                    border-top: 0;
                    border-right: 0;
                    left: 6px;
                    position: relative;
                }
            }

            &:last-child {
                &::after {
                    // border-left: 0;
                    border-bottom: 0;
                    border-left: 0;
                    left: 2px;
                    position: relative;
                }
            }

            &::after {
                content: "";
                border: 2px solid white;
                width: 8px;
                height: 8px;
                display: flex;
                transform: rotate(45deg);
            }


            svg {
                display: none;
            }
        }
    }

}