@use '../abstracts/functions' as *;

/* Color Scheme: Start */

// Main Brand Colors
$brand-color1: #8bbcdd;
$brand-color1-dark: #3096D5;
// $brand-color2: #ffd505;
$brand-color2: #666;

$color1: indigo;
$color1-light-variation1: #67339e;
$color2: darkorange;
$color2-light-variation1: #ffb300;
$color3: #cecece;

/* Color Scheme: End */

/* Surface: Start */

$light-bg: #ebebeb;
$light-border: #dedede;

$extra-light-bg: #f3f3f3;
$extra-light-border: #e9e9e9;


/* Surface: End */

/* Media Queries: Start */

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

/* Media Queries: End */

/* Border Radius: Start */

$border-radius: 0.313rem;

/* Border Radius: End */

/* Backgrounds: Start */

$light-gray1: #e0e0e0;
$light-gray2: #eeeeee;
$light-gray3: #f5f5f5;

/* Backgrounds: End */

/* Content Section: Top & Bottom Padding: Start */

$content-section-t-b-p: (
    'xs': 15px,
    'sm': 0.938rem,
    'md': 30px,
    'lg': 35px,
    'xl': 35px
);

/* Content Section: Top & Bottom Padding: End */

$border-radius-xs: 0.313rem;