@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

// Breadcrumb

.breadcrumb {
    margin-bottom: rem(15);

    &__container {
        // padding-top: 1.25rem;
    }

    &__ul {
        display: flex;
        column-gap: 10px;
        flex-wrap: wrap;
        // padding-bottom: 1.25rem;
        line-height: 1.25rem;
    }

    &__li {
        font-size: 12px;
        color: #777;

        &::after {
            content: "";
            width: 0.313rem;
            height: 0.313rem;
            padding: 0;
            background-color: transparent;
            border: solid #777;
            border-width: 0 1px 1px 0;
            display: inline-block;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            margin-left: 5px;
            position: relative;
            top: -1px;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    &__link {
        color: #458ab9;
        font-size: 12px;
        text-transform: capitalize;
    }
}