@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;


// Button Default
.btn1 {
    height: 40px;
    line-height: 1.5;
    padding-left: 15px;
    padding-right: 15px;
    background: #666;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 0.438rem;
    column-gap: 0.625rem;
    font-weight: 500;
    border: 0;
    transition: all 0.35s linear 0s;
    border-radius: 25px;
    letter-spacing: 0.5px;
    cursor: pointer;
    font-family: inherit;

    &:hover {
        background: #666;
    }

    &::after {
        content: '';
        width: 0px;
        height: 0px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #fff;
    }

    @include md-min {
        height: 45px;
        line-height: 45px;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

.btn1-large {
    height: 3.125rem;
    line-height: 1.5;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
    background: $brand-color1;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    border-radius: 0.438rem;
    column-gap: 0.625rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;

    @include md-min {
        height: 3.75rem;
        line-height: 3.75rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        font-size: 1.063rem;
    }
}



.btn2 {
    height: 40px;
    line-height: 1.5;
    padding-left: rem(15);
    padding-right: rem(15);
    background: #D5D5D5;
    color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 0.438rem;
    column-gap: 0.625rem;
    font-weight: 500;
    border: 0;
    white-space: nowrap;
    transition: all 0.35s linear 0s;
    border-radius: 30px;
    letter-spacing: 0.5px;
    cursor: pointer;

    &:hover {
        background: #dfdfdf;
    }

    &::after {
        content: '';
        width: 0px;
        height: 0px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #333;
    }

    @include md-min {
        height: 45px;
        line-height: 1.5;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

.btn2-large {
    height: 3.125rem;
    line-height: 3.125rem;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
    background: $brand-color2;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    border-radius: 0.438rem;
    column-gap: 0.625rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;

    @include md-min {
        height: 3.75rem;
        line-height: 3.75rem;
        padding-left: 1.563rem;
        padding-right: 1.563rem;
        font-size: 1.063rem;
    }
}

// Button 3: Start

.btn3 {
    height: 2.5rem;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
    background: $light-bg;
    color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: rem(16);
    border-radius: 0.438rem;
    column-gap: 0.625rem;
    font-weight: 600;
    border: 1px solid $light-border;
    letter-spacing: 0.5px;
    cursor: pointer;

    @include md-min {
        height: 3.125rem;
        line-height: 1.5;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        font-size: 0.938rem;
    }
}

// Button 3: End




// Button Default Small

.btn1-small {
    height: 1.875rem;
    line-height: 1.875rem;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
    background: $brand-color1;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    border-radius: 0.438rem;
    column-gap: 0.625rem;
    white-space: nowrap;
    letter-spacing: 0.5px;
    cursor: pointer;

    @include md-min {
        font-size: 0.875rem;
    }
}

// Read More Button: Start
.read-more-btn {
    padding: rem(10) rem(15);
    border-radius: 0.219rem;
    border: 1px solid #c7c7c7;
    font-family: inherit;
    cursor: pointer;
    font-size: rem(16);
}

// Read More Button: End

.btn-enquiry {
    background-color: #B4D7E6;
    cursor: pointer;

    &:hover {
        background-color: #94c7dd;
    }
}