@use '../abstracts/mixins' as *;

.certification-brands-list {
    &__container {}

    &__heading {}

    &__wrapper {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);

        @include sm-min {
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
        }

        @include md-min {
            grid-template-columns: repeat(4, 1fr);
        }

        @include lg-min {
            grid-template-columns: repeat(5, 1fr);
        }
    }

    &__item {
        background: #f5f5f5;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;

        @include lg-min {
            height: 130px;
        }
    }

    &__image {
        width: auto;
        max-height: 25px;
        max-width: 100px;

        @include lg-min {
            max-height: 40px;
        }
    }
}