@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;

.introduction-section {


    &__container {
        @include lg-min {
            display: grid;
            grid-template-columns: 300px 1fr;
            gap: 20px;
        }
    }

    &__logo {
        margin-bottom: 20px;

        @include lg-min {
            background: #f5f5f5;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }

    &__logo-image {
        @include md-min {
            height: 50px;
            width: auto;
            max-width: 150px;
        }
    }

    &__overview {
        @include lg-min {
            background: #f5f5f5;
            border-radius: 15px;
            padding: 60px;
        }

    }

    &__heading {
        margin-bottom: 15px;
        font-size: 18px;
        // color: #3e97d3
    }

    &__description {
        margin-bottom: 0;
    }
}