@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

/* Bullet Box: One Column: Start */
.bullet-box-one-column {
    width: auto;
    padding: rem(20);
    background-color: #f5f5f5;
    border: 1px solid #ececec;
    border-radius: rem(7);
    margin-bottom: rem(30);

    @include md-min {
        padding: rem(30);
    }

    &>ul {
        list-style-type: none;

        &>li {
            align-items: flex-start;
            margin-bottom: rem(10);
            line-height: 1.5;
            margin-left: 20px;

            &::before {
                content: "";
                display: inline-block;
                width: 8px;
                height: 8px;
                background-color: #666;
                border-radius: 50%;
                margin-right: 10px;
                flex-shrink: 0;
                margin-top: 8px;
                margin-left: -20px;
                position: absolute;
            }

            strong {
                display: inline;
                margin-right: 5px;
            }

            p {
                margin: 0;
            }
        }
    }
}

/* Bullet Box: One Column: End */


/* Bullet Box: One Column without BG: Start */
.bullet-box-one-column-without-bg {
    width: auto;
    padding: rem(20);
    background-color: none;
    border: 1px solid #ececec;
    border-radius: rem(7);
    margin-bottom: rem(30);

    @include md-min {
        padding: rem(30);
    }

    &>ul {
        list-style-type: none;

        &>li {
            align-items: flex-start;
            margin-bottom: rem(10);
            line-height: 1.5;
            margin-left: 20px;

            &::before {
                content: "";
                display: inline-block;
                width: 8px;
                height: 8px;
                background-color: #666;
                border-radius: 50%;
                margin-right: 10px;
                flex-shrink: 0;
                margin-top: 8px;
                margin-left: -20px;
                position: absolute;
            }

            strong {
                display: inline;
                margin-right: 5px;
            }

            p {
                margin: 0;
            }
        }
    }
}

/* Bullet Box: One Column without BG: End */


/* Bullet Box: Two Column: Start */
.bullet-box-two-column {
    width: auto;
    padding: rem(20);
    background-color: #f5f5f5;
    border: 1px solid #ececec;
    border-radius: rem(7);
    margin-bottom: rem(30);

    @include md-min {
        padding: rem(30);
    }

    &>ul {
        list-style-type: none;

        @include md-min {
            column-count: 2;
            column-gap: rem(30);
        }

        &>li {
            align-items: flex-start;
            margin-bottom: 15px;
            line-height: 1.5;
            margin-left: 20px;

            &::before {
                content: "";
                display: inline-block;
                width: 8px;
                height: 8px;
                background-color: #666;
                border-radius: 50%;
                margin-right: 10px;
                flex-shrink: 0;
                margin-top: 7px;
                margin-left: -20px;
                position: absolute;
            }

            strong {
                display: inline;
                margin-right: 5px;
            }

            p {
                margin: 0;
            }
        }
    }
}

/* Bullet Box: Two Column: End */