@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;


.site-header {
    padding-top: 10px;
    padding-bottom: 10px;
    // border: 1px solid #f9f9f9;

    @include md-min {
        padding-bottom: 25px;
        padding-top: 15px;
    }

    @include lg-min {
        padding-top: 15px;
        padding-bottom: 35px;
        // border: 5px solid green;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: fixed;
        z-index: 1;
        height: 55px;
        // border: 1px solid red;
        padding-left: 15px;
        padding-right: 15px;

        @include md-min {
            padding-left: 25px;
            padding-right: 25px;
        }

        @include lg-min {
            flex-wrap: wrap;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__logo-link {
        display: flex;
    }

    &__logo-image {
        width: 110px;
        margin-top: 5px;

        @include md-min {
            width: 130px;
        }

        @include xl-min {
            width: 160px;
            height: auto;
        }
    }

    &__logo-and-menu {
        display: flex;
        padding: 7px 15px 8px 16px;
        background-color: rgb(255 255 255 / 0.80);
        flex-grow: 1;
        border-radius: 30px;
        // padding: 7px;
        backdrop-filter: blur(10px);
        // border: 1px solid red;

        @include lg-min {
            background: none;
            backdrop-filter: none;
            flex-grow: initial;
            padding-left: 0;
        }
    }

    &__regional-flags {
        display: flex;
        gap: 20px;

        @include xl-min {
            gap: 30px;
            margin-right: 10px;
        }
    }

    &__regional-flags-img {
        @include xl-min {
            width: auto;
            height: 25px;
        }

    }

    &__regional-flags-country-name {
        font-weight: 700;
        font-size: 10px;
        text-transform: uppercase;
        text-align: center;
        color: #999;

        @include xl-min {
            font-size: 11px;
        }
    }

    &__regional-flags-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3px;
    }
}