// Abstracts
@use "../../sass/base/reset" as *;
@use "../../sass/base/typography" as *;
@use "../../sass/abstracts/mixins" as *;

.subject-based-courses {
  &__container {
  }

  &__content {
    background-color: #f1f1f1;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    @include lg-min {
      padding: 30px;
    }
  }

  &__heading {
    @include lg-min {
      margin-bottom: 40px;
    }
  }

  &__item {
    display: grid;
    grid-template-rows: 1fr auto;
    transition: all 0.25s linear 0s !important;
    &:hover {
      .subject-based-courses__content {
        background-color: #ececec;
      }

      transform: scaleX(1.03) scaleY(1.03) !important;
    }
  }

  &__item-heading {
  }

  &__item-description {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  &__item-image {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    object-fit: cover;
    width: 100%;
    max-height: 150px;

    @include sm-min {
      height: 100%;
    }
  }

  &__wrapper {
    display: grid;
    gap: 15px;

    @include sm-min {
      grid-template-columns: repeat(2, 1fr);
    }

    @include md-min {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}
