@use '../abstracts/mixins' as *;

.subpage-banner {
    &__container {}

    &__content-image {
        margin-bottom: 10px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 350px;
        position: relative;
        clip-path: rect(0 100% 100% 0 round 15px);
        justify-content: flex-end;

        &::after {
            content: '';
            background-color: #000;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            opacity: .60;
        }

        @include lg-min {
            clip-path: rect(0 100% 100% 0 round 25px);
            height: 430px;
            // border: 2px solid red;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }

    &__content {
        padding: 20px;
        position: relative;
        z-index: 1;
        display: flex;
        gap: 20px;
        flex-direction: column;

        @include sm-min {
            padding: 25px;
            flex-direction: row-reverse;
        }

        @include md-min {
            padding: 40px;
            align-items: flex-end;
        }
    }

    &__content-heading-and-description {
        @include sm-min {
            margin-right: auto;
        }

        @include md-min {
            max-width: 510px;
        }
    }

    &__heading {
        color: #e9e9e9;
        font-size: 26px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 10px;

        @include md-min {
            font-size: 36px;
        }
    }

    &__description {
        color: #e9e9e9;
        margin-bottom: 0;
        line-height: 1.30;
        font-size: 13px;
    }
}